<div class="container">
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Багатокритеріальний метод</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel" id="tab-1">
        <%= render "multicriteria" %>
      </div>
    </div>
    <div id="LoadingPage" class="loading-icon align-content-center">
      <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
    </div>
  </div>
</div>